@charset "ISO-8859-1";

body {font-family: verdana, sans-serif;}

h1 {
	color: #000080;
	margin-left: 7em;
}

h2 {
	color: #000080;
}

label {
	color: #000080;
	font-weight: bold;
	display: block;
	margin-top: 5px;
}

.grouping {font-weight: bold; width: 50%; padding-top: 5px;}

table {
	border-collapse: collapse;
}

th {
	color: #000080;
	border-bottom: 1px solid #000080;
	text-align: center;
	padding: .5em;
}

td {
	text-align: left;
	padding: .5em;
}

tbody > tr:nth-child(even) {
	background-color: #eee;
}

input[type=text], input[type=tel], input[type=email] {
	border-radius: 4px;
	border: 2px solid #ccc;
}

textarea {
	border-radius: 4px;
	border: 2px solid #ccc;
}

select {
	border-radius: 4px;
	border: 2px solid #ccc;
}

button, input[type=button], input[type=submit], input[type=reset] {
    background: linear-gradient(to bottom, #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%);
    border: 1px solid #e0eff9;
    border-radius: 4px;
    color: black;
    padding: 5px 10px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

a {
	background: linear-gradient(to bottom, #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%);
    border: 1px solid #e0eff9;
    border-radius: 4px;
    color: black;
    padding: 5px 10px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

li.childDisplay {
	list-style-type: none;
}